body {
    font-family: Arial, sans-serif;
    margin: 0 auto; 
    padding: 0;
    max-width: 1200px; 
}

nav {
    background-color: #050344;
    color: #fff;
    padding: 1rem;
    overflow: hidden; 
    border-radius: 5px;
}

.nav-logo {
    max-width: 50px;
    height: auto;
    margin-right: 20px;
    float: left; 
}

nav select {
    margin-left: 20px;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    float: left; 
}

nav input[type="text"] {
    margin-left: 20px;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    float: right; 
}

main {
    padding: 2rem;
    background-color: #cfccd899;
    text-align: center; 
    position: relative; 
    min-height: 400px;
}

.image-container {
    position: absolute;
    top: 20%;
    right: 0;
    transform: translateY(80%);
    transform: translateX(-50%);
}

.profile-image {
    max-width: 200px; 
    height: 200px;
    border-radius: 100%; 
}

footer {
    background-color: #050344;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    margin-top: 0; 
}

.gamesrus-title {
    font-family: 'Ga Maamli', sans-serif;
    font-size: 3rem; 
    color: #ff0000; 
    margin: 0;
    text-align: left; 
    padding-top: 5rem; 
    padding-bottom: 3rem;
}

.index-heading {
    font-family: 'Parkinsans', sans-serif;
    font-size: 2rem;
    color: #050344; 
    margin: 0;
    text-align: left; 
    padding-top: 0rem; 
    font-weight: bold;
}

.gamespage-title {
    font-family: "Ysabeau SC", sans-serif;
    font-size: 16px; 
    color: #ff0000; 
    text-align: center; 
    margin: 0;
}

.info {
    font-family: "Ysabeau SC", sans-serif;
    font-size: 10px; 
    color: #050344; 
    text-align: center; 
    margin: 0;
    padding-top: 1rem; 
}

.games-page-image {
    max-width: 500px; 
    height: 300px;
    border-radius: 5%; 
    padding-top: 10px; 

    transform: translateX(-80%);
}

.table {
    margin-top: 10px;
    transform: translateY(-320px);
}

table {
    width: 700px;
    border-collapse: collapse;
    transform: translateX(450px);
}

th, td {
    border: 1px solid #fffefe;
    padding: 8px;
}

th {
    background-color: #ff0000;
    color: white;
    text-align: left;
}

td {
    text-align: left;
    color: #050344;
}

.form-container {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 10px rgb(47, 44, 44);
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.form-title {
    font-family: 'Parkinsans', sans-serif;
    font-size: 1.5rem;
    color: #ff0000;
    margin: 0;
}

.form-subtitle {
    font-family: 'Parkinsans', sans-serif;
    font-size: 1rem;
    color: #050344;
    margin: 0 0 2rem 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-family: 'Parkinsans', sans-serif;
    font-size: 1rem;
    color: #050344;
    margin-bottom: 0.5rem;
    text-align: left;
}

textarea {
    height: relative;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.submit-button {
    background-color: #ff0000;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    font-family: 'Parkinsans', sans-serif;
    font-size: 1rem;
}

.reset-button {
    background-color: #ccc;
    color: #000;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    font-family: 'Parkinsans', sans-serif;
    font-size: 1rem;
}
.gallery-title {
    font-family: 'Parkinsans', sans-serif;
    font-size: 13px;
    color: #ff0000;
    text-align: center;
    margin-bottom: 1rem;
}

.gallery-description {
    font-family: 'Parkinsans', sans-serif;
    font-size: 10px;
    color: #050344;
    text-align: center;
    margin-bottom: 2rem;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 2rem;
}

.gallery-item {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    transform: translateX(30px);
   
}

.gallery-image {
    width: 200px;
    height: auto;
    padding-top: 5px;
    transform: translateY(10px);
}
.gallery-caption {
    padding: 1rem;
    font-family: 'Parkinsans', sans-serif;
    font-size: 10px;
    color: #ff0000;
    text-decoration: underline;
}